__pycache__/
*.py[cod]

batch_output/
Fibbo/
hooks.txt
money.txt
audio_times.csv
RealMadrid/

IGClips/
IGClips2/
aesthetic_loops/
music_source/
music_source2/
Albums/

ffmpeg/
ffmpeg_download/
ffmpeg-release-essentials.zip

*.mp4
*.mov
*.wav
*.mp3

*.flp
*.dat
